<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.economicdrive"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_3"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LocalActivity"
            android:label="Local" >
        </activity>
        <activity
            android:name=".LocalListActivity"
            android:label="Lista de locais" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsuarioActivity"
            android:label="Senha" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login" >
        </activity>
        <activity
            android:name=".AbastecimentoActivity"
            android:label="Abastecimento" >
        </activity>
        <activity
            android:name=".CarroActivity"
            android:label="Veículo" >
        </activity>
        <activity
            android:name=".CarroListActivity"
            android:label="Lista de Veículos" >
        </activity>
        <activity
            android:name=".DespesasActivity"
            android:label="Despesas" >
        </activity>
        <activity
            android:name=".RelatorioListActivity"
            android:label="Relatórios" >
        </activity>
        <activity
            android:name=".OpcaoAbastecimentoActivity"
            android:label="Opções do relatório" >
        </activity>
        <activity
            android:name=".AbastecimentoChartActivity"
            android:label="Gráfico de abastecimento" >
        </activity>
        <activity
            android:name=".OpcaoGastoActivity"
            android:label="Relatório de gastos" >
        </activity>
        <activity
            android:name=".GastoChartActivity"
            android:label="@string/title_activity_gasto_chart" >
        </activity>
                <activity
            android:name=".ManutencaoActivity"
            android:label="Manutenção" >
        </activity>
    </application>

</manifest>
